---
// Redirection permanente vers /map
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/map" />
    <title>Redirection vers MAP</title>
    <link rel="canonical" href="/map" />
  </head>
  <body></body>
</html>
